{% extends 'irc_news/base.html' %}
{% load static %}

{% block title %}
        <title>{{ title }}</title>
{% endblock title %}

{% block content %}
    <div class="add-news">
            <form  class="content_add-news" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="title_name">Логін:</p>
                {{ form.username }}
                <p class="title_name">Пароль:</p>
                {{ form.password }}

                <button class="add_news" type="submit" >Зареєструвати</button>

                {% if form.errors %}
                    <div class="errors">
                        {{ form.errors }}
                    </div>
                {% endif %}


            </form>

    </div>

{% endblock content %}