<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="css/style.css">
    <title>USER-PAGE</title>
</head>
<body>
    <div class="heder">
        <div class="item">
            <div class="item__all">
                <div class="item__text">Інклюзивно-ресурсний центр Дубровицької міської ради</div>
            </div>
        </div>
    </div>



    <div class="wrapp">
        <div class="user-page">
            <div class="user-page__box">
                <img src="./img/5.jpg" alt="" class="user-page__picture">
            </div>
            <div class="user-page__boxForContent">
                <div class="user_name">Ім'я: <span class="span_user-page">Красько Андрій Володимирович</span> </div>
                <div class="user_age">Рік народження: <span class="span_user-page"> 09/08/1997</span></div>
                <div class="user_info">Загальна інформація: <span class="span_user-page">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam, expedita cupiditate a nisi ducimus sit necessitatibus dicta modi voluptatem aliquam autem vero architecto odio corporis accusamus corrupti, fugit tempora.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam, expedita cupiditate a nisi ducimus sit necessitatibus dicta modi voluptatem aliquam autem vero architecto odio corporis accusamus corrupti, fugit tempora.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam, expedita cupiditate a nisi ducimus sit necessitatibus dicta modi voluptatem aliquam autem vero architecto odio corporis accusamus corrupti, fugit tempora.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam, expedita cupiditate a nisi ducimus sit necessitatibus dicta modi voluptatem aliquam autem vero architecto odio corporis accusamus corrupti, fugit tempora.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero porro iste nihil dicta excepturi accusamus beatae harum quod omnis dolor ipsum tenetur repellendus cupiditate perferendis, aspernatur rem quos placeat ratione.</span>
                    </div>
                <div class="user-posada">Посада: <span class="span_user-page">Ребілітолог</span></div>
                <div class="link_user">Посилання:<span class="span_user-page"></span></div>
                <div class="news_add">Додані статті:<span class="span_user-page"></span></div>
                <button class="update_user_info">Редагувати</button>
            </div>
        </div>
        
    </div>




    <div class="foter">
        <div class="button">
            <div class="button__all">
                <div class="button__btn1"></div>
                <div class="button__btn2"></div>
                <div class="button__btn3"></div>
                <div class="button__btn4"></div>
                <div class="button__btn5"></div>
                <div class="button__btn6"></div>
                <div class="button__btn7"></div>
            </div>
        </div>
    </div>

</body>
<script src="./js/js.js"></script>
</html>